			<layout name='layout' />
					
					<ul class="breadcrumb" style="line-height:50px;">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="__MODULE__/Project/index">首页</a>
							</li>

							<li>
								<a href="__MODULE__/Project/index">项目管理</a>
							</li>
							<li class="active">项目列表</li>
							
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>


				<div class="page-header">
							
						</div><!-- /.page-header -->
			
				<div  style="margin-left:30px;font-size:20px;">
					<!--<h3 class="main-heading"><span>Contact info</span></h3>-->

					<ul style=" list-style-type:none;">
						<foreach name='list' item='vo'>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-tag">						</i> 项目名称:</span>　 {$vo.name}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-list">						</i> 所属分类:</span>　 {$vo.cname}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-time">					</i> 时间指标:</span>　 {$vo.requiretime}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-hand-right">						</i> 项目要求:</span>　 {$vo.request}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-list-alt">					</i> 项目意义:</span>　 {$vo.sense}</li>
						</foreach>
						</ul>
						
						
						
					<!-- <div>	
						<table id="sample-table-1" class="table table-striped table-bordered table-hover" style="width:80%;margin-top:100px;">
								<thead>
									<tr>
										<th class="center" style="color:red;">班级内容</th>
										<th class="center">项目序号:</th>	
										<th class="center">项目名称:</th>
									</tr>
								</thead>
								   
								<tbody>
								 <foreach name='list_3' item='vo'>
									<tr class="center">
										<td style="border:0px;">{$vo.}</td>
										<td>{$vo.}</td>
										<td>{$vo.name}</td>											
									</tr>
								  </foreach>
								</tbody>
							</table>
					</div>
					<div>
						<table id="sample-table-1" class="table table-striped table-bordered table-hover" style="width:80%;margin-top:100px;">
								<thead>
									<tr>
										<th class="center" style="color:red;">班级教练</th>
										<th class="center">教练号:</th>	
										<th class="center">教练名:</th>
									</tr>
								</thead>
								   
								<tbody>
								 <foreach name='list_2' item='vo'>
									<tr class="center">
										<td style="border:0px;">{$vo.}</td>
										<td>{$vo.}</td>
										<td>{$vo.tname}</td>											
									</tr>
								  </foreach>
								</tbody>
							</table>
					</div>	
					<div>	
					<table id="sample-table-1" class="table table-striped table-bordered table-hover" style="width:80%;margin-top:100px;">
								<thead>
									<tr>
										<th class="center" style="color:red;">班级学员</th>
										<th class="center">学生号:</th>	
										<th class="center">学生名:</th>
									</tr>
								</thead>
								   
								<tbody>
								 <foreach name='list_4' item='vo'>
									<tr class="center">
										<td style="border:0px;">{$vo.}</td>
										<td>{$vo.}</td>
										<td>{$vo.stuname}</td>											
									</tr>
								  </foreach>
								</tbody>
							</table>

						</div> -->
						
						
						
				</div>
				<!-- /Contact Info -->
				<div class="clear"></div>

	  

	
