<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="教练缘，教练，课程">
	<meta name="description" content="教练缘为你量身订制教练学IT!">
	<title>教练缘-教练详情介绍</title>
	<link href="__PUBLIC__/CSS/common.css" rel="stylesheet"/>
	<link href="__PUBLIC__/CSS/coachDetail.css" rel="stylesheet"/>
	<link href="__PUBLIC__/images/public/logo.ico" rel="icon"/>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.1.min.js"></script>
</head>
<body>
<!--导航栏-->
<div class="top-warp">
	<div class="top">
		<a class="logo" href="__MODULE__/Index/index.html">教练缘，企业人才定制与自学平台</a>
		<if condition="($name neq '') OR ($phone neq '')">
		 	<div class="card-warp">
			 	<img src="__PUBLIC__/images/{$face}" >
			 	<!--教练头像进入个人中心-->
			    <if condition="($identity eq 'teacher')">
			    <p class="card">
			    	<a class="user"><img src="__PUBLIC__/images/{$face}" ><strong>{$name}</strong></a>
				 	<a class="personal" href="__MODULE__/Coach/coach.html">个人中心</a>
		 			<a class="signout" href="__MODULE__/Login/logout">退出</a>
		 			<i class="card-arrow"></i>
		 		</p>
				</if>
				<!--学员头像进入个人中心-->
				<if condition="($identity eq 'student')">
				<p class="card">
					<a class="user"><img src="__PUBLIC__/images/{$face}" ><strong>{$name}</strong></a>
					<a class="learn" href="__MODULE__/Student/student.html">自学中心</a>
				 	<a class="personal" href="__MODULE__/Student/personal.html">个人中心</a>
		 			<a class="signout"  href="__MODULE__/Login/logout">退出</a>
		 			<i class="card-arrow"></i>
		 		</p>
				</if>
			</div>
		 	<else />
				<a class="login"  href="__MODULE__/Login/login">登录</a>
				<a class="register" href="__MODULE__/Register/register">注册</a>
	    </if>  
	</div>
</div>
<!--导航-->
<div class="nav-warp">
	<ul class="nav">
		<li><a href="__MODULE__/Index/index.html" target="_parent">首页</a></li>
        <li><a href="#">帮助中心</a></li>
        <if condition="($identity neq '') AND ($identity eq 'teacher')">
        <li><a href="__MODULE__/Coach/coach.html">个人中心</a></li>
        </if>
		<if condition="($identity neq '') AND ($identity eq 'student')">
		<li><a href="__MODULE__/Student/student.html">自学中心</a></li>
		</if>
		<if condition="($identity eq '') OR ($identity neq 'student' AND $identity neq 'teacher')">
		<li><a href="__MODULE__/Login/login.html" onclick="warn()">自学中心</a></li>
		</if>
	</ul>
</div>
<div class="content">
	<div class="face">
		<img src="__PUBLIC__/images/{$coachInfo[0]['face']}" />
	</div>	
	<span>{$coachInfo[0]['tname']}</span>
	<div class="intro">
		<span>个人简介：</span>
		<p>{$coachInfo[0]['tintro']}</p>
	</div>
	<div class="detail">
		<span>详细介绍：</span>
		<ul class="mes_list">
			<li>
				<span>指导理念：</span>
				<p>{$coachInfo[0]['concept']}</p>
			</li>
			<li>
				<span>掌握技术：</span>
				<p>{$coachInfo[0]['skill']}</p>
			</li>
			<li>
				<span>实践项目：</span>
				<p>{$coachInfo[0]['doneproject']}</p>
			</li>
		</ul>
	</div>
</div>
<!--页面的底部-->
<div class="footer">
	<div class="my_footer">
		<ul class="footer_1">
			<li><a href="#"></a></li>
			<li><a href="#" id="weixin"><div class="weixin"></div></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ul>
		<div class="footer_2">
				<a href="#">关于我们</a>
				<a href="#">企业合作</a>
				<a href="#">人才招聘</a>
				<a href="#">讲师招募</a>
				<a href="#">联系我们</a>
				<a href="#">意见反馈</a>
				<a href="#">友情链接</a>
		</div>
		<div class="footer_3">
			<p>&copy;&nbsp;2016&nbsp;51jiaolianyuan&nbsp;粤ICP备&nbsp;18689008号</p>
		</div>
	</div>
</div>
</body>
</html>