             <layout name='layout' />	
			 <ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								首页
							</li>

							<li>
								用户管理
							</li>
							<li class="active">等待认证教练列表</li>
							
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					

					<div class="page-content">
						<div class="page-header">
							
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
										 <body>
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label>
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>
														<th class="center">教练号</th>
														<th class="center">姓名</th>
														<th class="center">申请班级</th>
														<th class="center">申请时间</th>
														<th class="center">在线时间</th>
														<th class="center">审核状态</th>	
														<th></th>
													</tr>
												</thead>
                                                   
												<tbody>
												 <foreach name='list' item='vo'>
													<tr class="center">
														<td class="center">
															<label>
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</td>

														<td>{$vo.tno}</td>
														<td>{$vo.tname}</td>
														<td>{$vo.classname}</td>
														<td>{$vo.applytime}</td>
                                                        <td>{$vo.onlinetime}</td>
														<if condition="$vo['auditstatus'] eq '0'">
														<td style="color:red;">等待认证</td>
														</if>
														<td>
														
															<div id="anNiu">

																<button class="btn btn-xs  btn-info">
																<a href="__CONTROLLER__/checkAuditStatusDetail?id={$vo.id}" title="认证"><i class="icon-edit fa fa-check bigger-180"></i></a>
																</button>

															</div>
														</td>														
													</tr>
									              </foreach>
												   <thead>
													<tr>
														<th>
														</th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
														<th></th>
													</tr>
												</thead>
												</tbody>
											</table>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->
								<div style="text-align:center;font-size:24px;">
									<ul class="pagination pagination-sm">
										{$page}
									</ul>
								</div>
								<div class="hr hr-18 dotted hr-double"></div>
										</div>
									</div>
								</div>