			<layout name='layout' />
					
					<ul class="breadcrumb" style="line-height:50px;">
							<li>
								<i class="icon-home home-icon"></i>
								首页
							</li>

							<li>
								用户管理
							</li>
							<li><a href="__MODULE__/Teacher/index">已注册教练信息列表</a></li>
							<li class="active">教练详情</li>
							
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>


				<div class="page-header">
							<h1>
								用户管理
								<small>
									<i class="icon-double-angle-right"></i>
									教练管理
								    <i class="icon-double-angle-right"></i>
									教练列表
									<i class="icon-double-angle-right"></i>
									教练详情
								</small>
							</h1>
						</div><!-- /.page-header -->
			
				<div  style="margin-left:30px;font-size:20px;">
					<!--<h3 class="main-heading"><span>Contact info</span></h3>-->

					<ul style=" list-style-type:none;">
						<foreach name='list_1' item='vo'>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-user">			</i> 姓　　名:</span>　 {$vo.tname}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-barcode">			</i> 教 练 号:</span>　 {$vo.tno}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-star">		</i> 性　　别:</span>　 {$vo.sex}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-envelope">			</i> 年　　龄:</span>　 {$vo.stuname}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-phone">	</i> 联系方式:</span>　 {$vo.phone}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon  glyphicon-flag">	</i> 教练地址:</span>　 {$vo.address}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-dashboard">		</i> 注册时间:</span>　 {$vo.regtime}</li>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-time">		</i> 在线时间:</span>　 {$vo.onlinetime}</li>
						<li style="padding:10px 10px 50px 10px;border-bottom:1px solid #F2F2F2;"><span style="font-weight:700;"><i class="glyphicon glyphicon-list-alt">		</i> 个人简介:</span>　 {$vo.tintro}</li>
						</foreach>
						</ul>
						
						
						
						<div>	
						<table id="sample-table-1" class="table table-striped table-bordered table-hover" style="width:80%;margin-top:100px;">
								<thead>
									<tr>
										<th class="center" style="color:red;">任教班级</th>
										<th class="center">班级序号:</th>	
										<th class="center">班级名称:</th>
									</tr>
								</thead>
								   
								<tbody>
								 <foreach name='list_2' item='vo'>
									<tr class="center">
										<td style="border:0px;">{$vo.}</td>
										<td>{$vo.classno}</td>
										<td>{$vo.classname}</td>											
									</tr>
								  </foreach>
								</tbody>
							</table>
						</div>
						
						<div>	
						<table id="sample-table-1" class="table table-striped table-bordered table-hover" style="width:80%;margin-top:100px;">
								<thead>
									<tr>
										<th class="center" style="color:red;">所教学员</th>
										<th class="center">序号:</th>	
										<th class="center">学员名:</th>
									</tr>
								</thead>
								   
								<tbody>
								<?php $i=0;?>
								 <foreach name='list_3' item='vo'>
									<tr class="center">
										<td style="border:0px;"></td>
										<td><?php  $i++; echo $i;?></td>
										<td>{$vo.stuname}</td>											
									</tr>
								  </foreach>
								</tbody>
							</table>
						</div>
						
						
						
						
						
						
<!-- 
						<ul style=" list-style-type:none;">
						<foreach name='list_2' item='vo'>
				
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;">
						<span style="float:left;font-weight:700;"><i class="glyphicon glyphicon-home"></i> 任教班级:</span>
						{$vo.classname}
						</li>
						</foreach>
						</ul>

						
						<ul style=" list-style-type:none;">
						<foreach name='list_3' item='vo'>
						<li style="padding:10px;border-bottom:1px solid #F2F2F2;">
						<span style="float:left;font-weight:700;"><i class="glyphicon glyphicon-unchecked"></i> 所教学员:</span>
						<span style="float:left;margin-left:20px;display:block;width:250px;">{$vo.classname}</span>
						
						</foreach>
						</ul> -->
				</div>
				<!-- /Contact Info -->
				<div class="clear"></div>

	  

	
