
/*导航栏和搜索框*/
.nav-search{
	width: 1200px;
	height: 70px;
	margin: 0 auto;
	position: relative;
}
.index-nav li{
	height: 70px;
	float: left;
	line-height: 70px;
	text-align: center; 
	padding:0px 60px 0 0;
}
.index-nav li a {
	color: #333;
}
.index-nav li a:hover{
	color:#22428B;
}
/*搜索框*/
.search{
	position: absolute;
	right:0;
	top:15px;
}
.search form{
	width:210px;
	height: 36px;
	line-height:36px;
	border-radius: 24px;
	border:1px solid #e0e0e0;
	position: relative;
}
.search form input:first-child{
	border: none;
	outline: none;
	background: none;
	height: 32px;
	line-height: 32px;
	width:174px;
	color:#666;
	text-indent: 20px;
	position: absolute;
	top:2px;
}
.search form input:last-child{
	border:none;
	outline: none;
	background: none;
	height: 32px;
	width:30px;
	background: url(../images/index/index-icon.png) no-repeat 0px -48px;
	position: absolute;
	right:6px;
}
.search form input:last-child:hover{
	background-position:0 -84px ;
	cursor: pointer;
}
/*搜索框内容*/
.search .search-content a {
	display: inline-block;
	width:176px;
	border: 1px solid #e1e1e1;
	border-bottom: none;
	border-top:none;
	color:#666;
	text-indent: 10px;
	position: absolute;
	left: 20px;
	z-index: 10;
	background-color: rgba(255,255,255,0.8);
}
.search .search-content a:hover{
	color:#fff;
	background-color: rgba(9,123,248,0.8);
}
/*轮播背景*/
.carousel-warp{
	height: 450px;
	width:100%;
	background:#F7F7F7 url(../images/index/bk.jpg) repeat-x 0 0;
}
.carousel{
	width:1200px;
	height: 450px;
	margin:0 auto;
	position: relative;
}
/*工程师分类*/
.class-list {
	width:240px;
	background-color: RGBA(0,0,0,0.4);
	position: absolute;
	left: 0;
	top:0;
	z-index: 610;
}
.class-list>li{
	width: 240px;
	height:75px;
}
.class-list li span{
	display: inline-block;
	margin: 0 10px;
	padding:16px 0 34px 0;
	width:220px;
	text-indent: 10px;
	border-bottom: 1px solid #e1e1e1;;
}
.class-list a{
	font-size: 18px;
	color: #fff;
}
.class-list .active{
	background:#22428B;
}
/*班级列表*/
.children-list{
	width: 730px;
	height: 450px;
	position: absolute;
	left: 240px;
	top: 0;
	display: none;	
}
.children-list li{
	padding:30px 94px;
	float: left;	
}
.children-list a{
	color: #666;
	font-size: 14px;
}
.children-list a:hover{
	color: #22428B;
}
/*轮播图部分*/
#banner_wrap {
  width: 1200px;
  height: 450px;
  position: absolute;
  top:0;
 }
#banner_pic_wrap {
    width: 1200px;
    height: 450px;
    overflow: hidden;
    position: relative; 
}
#banner_pic {
  position: absolute;
  float: left; 
}
#banner_pic li {
  width: 1200px;
  height: 450px;
  float: left;
  cursor: pointer; 
}
/*上一张、下一张*/
#banner_change_wrap {
  width: 958px;
  height: 450px;
  position: absolute;
  top: 0px;
  left: 240px;
}
#banner_change_wrap div {
	display: none;
    transition: all 3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s; 
}
#prev,#next{
    width: 50px;
    height: 60px;
    margin-top: 200px;
    background:rgba(0,0,0,0.3) url(../images/index/index-icon.png) no-repeat ;
}
#prev{
	float: left;
	background-position:12px -124px ;
}
#next {
    float: right;
    background-position:12px -180px;
}
#prev:hover,#next:hover {
    background-color:rgba(0,0,0,0.6);
    cursor: pointer;
}
/*流程图*/
.flow-chart{
	width: 1200px;
	height: 190px;
	margin:20px auto;
	margin-bottom:14px;
}
.flow-chart ul li{
	width: 1200px;
	height: 181px;
	float: left;
	padding-top:20px;
}
/*热门班级*/
.hot-classes{
	width: 1200px;
	height: 240px;
	margin: 0 auto;
	clear: both;
	padding-top:40px;
}
.hot-classes>strong{
	color:#22428B;
	font-size: 18px;
}
.hot-classes ul{
	width: 1200px;
	height: 198px;
	margin-top:20px ;
}
.hot-classes ul li{
	width: 220px;
	height: 198px;
	float: left;
	margin:10px 10px;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  	transition: all 0.3s ease-in-out;
	
}
.hot-classes ul li::after{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hot-classes ul li:hover::after {
    opacity: 1;
}
.hot-classes ul li .tip-info{
	width: 224px;
	height: 100px;
	background:rgba(255,255,255,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#321AD5DC', EndColorStr='#64FFFFFF');
	position: absolute;
	top: 98px;
	left: 0;
}
.class-name{
	font-size: 14px;
	padding-left: 10px;
	padding-top: 20px;
	color: #000;
}
.class-info{
	font-size: 12px;
	color: #999;	
	padding-top: 12px;
	padding-left: 10px;
}
.learn-num{
	width: 224px;
	height: 50px;
	line-height:50px;
	font-size: 12px;
	color: #ccc;
	background: #fff;
	position: absolute;
	bottom:0px;
	left: 0;	
}
.learn-num span{
	padding-left: 10px;
}
/*回到顶部*/
.cbbfixed {
	position: fixed;
	right: 10px;
	transition: bottom ease .3s;
	bottom: -85px;z-index: 3;
	cursor:pointer;
}
.cbbfixed .cbbtn {
	width: 40px;
	height: 40px;
	display: block;
	background-color: #02a2aa;
}
.cbbfixed .gotop {
	transition: background-color ease .3s;
	margin-top: 1px;
}
.cbbfixed .gotop .up-icon{
	float:left;
	margin:14px 0 0 9px;
	width:23px;
	height:12px;
	background: url(../images/index/index-icon.png)no-repeat -22px -244px ;
}
.cbbfixed .gotop:hover {
	background-color:#2c2d2e;
}
.cbbfixed .cweixin {
	background: #ccc;
}
.cbbfixed .cweixin div {
	background: url(../images/index/erwei.png);
	width: 194px;
	height: 199px;
	position: absolute;
	left: -194px;
	top: -115px;
	opacity: 0;
	transform: scale(0);   
	 -webkit-transform: scale(0);
	 transform-origin: 100% 70%;
	 -webkit-transform-origin: 100% 70%;
	 transition: transform ease .3s,opacity ease .3s;
	 -webkit-transition: all ease .3s;
	 display:none\0;
	 *display:none;
}
.cbbfixed .cweixin:hover div {
	display: block;transform: scale(1);
	-webkit-transform: scale(1);
	opacity: 1;
	*display:block;
}
.cbbfixed .cweixin .weixin-icon{
	float: left;
	margin:12px 0 0 11px;
	width:20px;
	height:20px; 
	background: url(../images/index/index-icon.png)no-repeat -1px -241px ;
}


