<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="教练缘，教练，课程，IT自学">
	<meta name="description" content="教练缘为你量身订制教练学IT!">
	<title>教练缘</title>
	<link href="__PUBLIC__/images/public/logo.ico"rel="icon" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/style.css"/>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
<!--获取课程下的二级分类-->
<script>
var firstCateId=0;
		$(function(){
			$(".class-list li span").mouseover(function(){
		//获取一级分类id
		firstCateId = $(this).attr("id");
	$.ajax({
			contentType:"application/json",
			type:"get",
			url:"getSecondCate",
			data:{"id":firstCateId},
			dataType:"json",
			cache:"false",
			async:true,
			success: function(datac){
             $('.children-list li').detach();
             if(datac.ret == 200)
              {
				for (var i=0;i<datac.data.length;i++) {
					$('.children-list ').append('<li><a href="__URL__/classList/id/'+ datac.data[i].id+'">'+datac.data[i].cname+'</a></li>');
				     }
			   }
			   //该课程尚无二级
			   else
			   {
					$('.children-list ').append('<li><a href="javascript:;">'+datac.data+'</a></li>');
					  }
					},
					error: function(datac){
						alert("出错啦")
			}
	   });
	});
})	
//搜索框功能
	$(function(){
		$("#searchContent").change('input',function(){
		var	searchContent = $("#searchContent").val();

$.ajax({
		contentType:"application/json",
		type : "get",
		url : "search",
		
		data : {"searchContent":searchContent},
		dataType : "json",
		cache : "false",
		async : true,
		success : function(datac){
         if(datac.ret == 200)
          {
            $('.search-content span').detach();
			for (var i=0;i<datac.data.length;i++) 
			{
                $('.search-content').append('<a href="__MODULE__/Detail/detail/id/'+datac.data[i].id+'"><span >'+datac.data[i].classname+'</span></a><br />')
		    }
	      }
          //该课程尚无班级
           else
		   {
		   	alert(datac.data);
           }
		},
		error: function(datac){
			alert("出错啦")
			}
	    });
	  });
 })	

	function warn()
	{
		alert("请先登录");
	}
</script>			
</head>
<body> 		
<div class="top-warp">
	<div class="top">
		<a class="logo" href="#">教练缘，企业人才定制与自学平台</a>
		<if condition="($name neq '') OR ($phone neq '')">
		 	<div class="card-warp">
			 	<img src="__PUBLIC__/images/{$face}" >
			 	<!--教练头像进入个人中心-->
			    <if condition="($identity eq 'teacher')">
			    <p class="card">
			    	<a class="user"><img src="__PUBLIC__/images/{$face}" ><strong>{$name}</strong></a>
				 	<a class="personal" href="__MODULE__/Coach/coach.html">个人中心</a>
		 			<a class="signout" href="__MODULE__/Login/logout">退出</a>
		 			<i class="card-arrow"></i>
		 		</p>
				</if>
				<!--学员头像进入个人中心-->
				<if condition="($identity eq 'student')">
				<p class="card">
					<a class="user"><img src="__PUBLIC__/images/{$face}" ><strong>{$name}</strong></a>
					<a class="learn" href="__MODULE__/Student/student.html">自学中心</a>
				 	<a class="personal" href="__MODULE__/Student/personal.html">个人中心</a>
		 			<a class="signout"  href="__MODULE__/Login/logout">退出</a>
		 			<i class="card-arrow"></i>
		 		</p>
				</if>
			</div>
		 	<else />
				<a class="login"  href="__MODULE__/Login/login">登录</a>
				<a class="register" href="__MODULE__/Register/register">注册</a>
	    </if>  
	</div>
</div>
			
		
<div class="nav-search">
	<ul class="index-nav">
	    <li>首页</li>
	    <li><a href="#">帮助中心</a></li>
	    <if condition="($identity neq '') AND ($identity eq 'teacher')"><li><a href="__MODULE__/Coach/coach.html">个人中心</a></li></if>
	    <if condition="($identity neq '') AND ($identity eq 'student')"><li><a href="__MODULE__/Student/student.html">自学中心</a></li></if>
	    <if condition="($identity eq '') OR ($identity neq 'student' AND $identity neq 'teacher')"><li><a href="__MODULE__/Login/login.html" onclick="warn()">自学中心</a></li></if>  
	</ul>
	<div class="search">
		<form>
			<input type="search" id="searchContent"  value="" placeholder="请输入关键字…"/>
			<input type="button" value="" />
		</form>
		<div class ="search-content"></div>
	</div>
</div>
<div class="carousel-warp">
	<div class="carousel">
		<ul class="class-list">
			<!--循环遍历课程名-->
			<volist name = "getCourseCate" id = "list" empty = "暂无数据">
				<li id="{$list['cname']}">
					<a href="__URL__/classList/id/{$list['id']}.html">
						<span id="{$list['id']}">{$list['cname']}</span>
					</a>
					<!--显示背景-->
					<ul class="children-list" style="background:url(__PUBLIC__/images/guide-background/{$list['cname']}.jpg) no-repeat;"></ul>
				</li>
			</volist>
		</ul>
	<!--轮播图-->
		 <div id="banner_wrap">
			 <div id="banner_pic_wrap">
				 <ul id="banner_pic">
				 	<li><img src="__PUBLIC__/images/index/carousel/1.jpg"></li>
					<li><img src="__PUBLIC__/images/index/carousel/2.jpg"></li>
					<li><img src="__PUBLIC__/images/index/carousel/3.jpg"></li>
				 </ul>
			 </div>
			 <div id="banner_change_wrap">
				<div id="prev"></div>
				<div id="next"></div>
			 </div>
		 </div>
	</div>
</div>
		
<!--学员和教练流程图-->
<div class="flow-chart">
	<ul>
		<li>
			<img src="__PUBLIC__/images/index/student-pro.jpg" />
		</li>
		<li>
			<img src="__PUBLIC__/images/index/coach-pro.jpg" />
		</li>
	</ul>
</div>
	
<!--热门班级-->	
<div class="hot-classes">
	<strong>热门班级</strong>
	<ul>
		<volist name = "hotClassList" id = "hotClassList"   offset="0" length='5' empty = "暂无数据"><!--循环遍历热门课程图片-->
			<li>
				<a href="__MODULE__/Detail/detail/id/{$hotClassList[0]['id']}.html">
					<img src="__PUBLIC__/images/{$hotClassList[0]['classpic']}" />
					<div class="tip-info">
						<p class="class-name">{$hotClassList[0]['classname']}</p>
						<p class="class-info">{$hotClassList[0]['classintro']}</p>
					</div>
					<div class="learn-num"><span ><?php echo count($hotClassList) ?></span>人在学</div>
				</a>
			</li>
		</volist>	
	</ul>	
</div>
					
<!--页面的底部-->
<div class="footer">
	<div class="my_footer">
		<ul class="footer_1">
			<li><a href="#"></a></li>
			<li><a href="#" id="weixin"><div class="weixin"></div></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ul>
		<div class="footer_2">
				<a href="#">关于我们</a>
				<a href="#">企业合作</a>
				<a href="#">人才招聘</a>
				<a href="#">讲师招募</a>
				<a href="#">联系我们</a>
				<a href="#">意见反馈</a>
				<a href="#">友情链接</a>
		</div>
		<div class="footer_3">
			<p>&copy;&nbsp;2016&nbsp;51jiaolianyuan&nbsp;粤ICP备&nbsp;18689008号</p>
		</div>
	</div>
</div>
</body>
</html>
