<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="教练缘，教练，课程">
<meta name="description" content="教练缘为你量身订制教练学IT!">
<title>教练缘-学员中心</title>
<link href="__PUBLIC__/CSS/student-center.css" rel="stylesheet"/>
<link href="__PUBLIC__/images/student-center-img/logo.ico" rel="icon"/>
<link href="__PUBLIC__/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/stucenter.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/threeconnect.js"></script>
<script src="__PUBLIC__/js/uploadPreview.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/umeditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/umeditor/lang/zh-cn/zh-cn.js"></script>

  <script>
	$(function(){
 	$(".close_btn").hover(function(){
 		$(this).find('img').attr('src','__PUBLIC__/images/close (2).png')
 	},function(){
 		$(this).find('img').attr('src','__PUBLIC__/images/close.png')
 	});
 });
</script>

<!--给有未读信息的主题加个小红点-->
<script>
        $(function(){
          var searchContent = $("#searchContent").val();
      
      $.ajax({
          contentType:"application/json",
          type : "get",
          url : "searchTitleId",
          dataType : "json",
          cache : "false",
          async : true,
          success : function(datac){
                     if(datac.ret == 200)
                      {
            for (var i=0;i<datac.data.length;i++) 
            {
                            $("#title"+datac.data[i]['referid']).append("<img class='little_circle' src='__PUBLIC__/images/student-center-img/new_message.png'/>");
              }
              }
                      //该课程尚无班级
//                     else
//             {
//              alert(datac.data);
//                     }
          },
          error: function(datac){
            alert("出错啦")
          }
          });
       })
          
</script>
</head>

<body>


	
	
	
<!--导航栏-->
<!--<div class="container">-->
<div id="top">
	<div id="nav">
        <a href="__MODULE__/Index/index.html"><img src="__PUBLIC__/images/student-center-img/logo.png" alt="教练缘" title="教练缘"/></a>
        <ul id="nav_left">
            <li><a href="__MODULE__/Index/index.html" target="_parent">首页</a></li>
            <li><a href="#" target="_parent">帮助中心</a></li>
              <if condition="($identity neq '') AND ($identity eq 'teacher')"><li><a href="__MODULE__/Coach/coach.html">个人中心</a></li></if>
			  <if condition="($identity neq '') AND ($identity eq 'student')"><li><a href="__MODULE__/Student/student.html">个人中心</a></li></if>
			  <if condition="($identity eq '') OR ($identity neq 'student' AND $identity neq 'teacher')"><li><a href="__MODULE__/Login/login.html" onclick="warn()">个人中心</a></li></if>       
        </ul>
         <div class="information">
        	<p>消息</p><img  src="__PUBLIC__/images/mes.png"/><div class="red_dott"><span>{$unReadMsgNum}</span></div>      
        	<a href="__URL__/order.html"><p>订单</p></a>
        </div>
        <ul id="nav_right">
            <if condition="($name neq '') OR ($phone neq '')">
            	<b><a href="#"><img src="__PUBLIC__/images/{$face}"></a></b>
            	
            	<if condition="($identity eq 'teacher')">
				    <p class="myp" id="myp">
					 	<a id="enterCenter" href="__MODULE__/Coach/coach.html">{$name}</a>
					 	<span class="logout">
			 				<a href="__MODULE__/Login/logout">退出</a>
			 			</span>
			 		</p>
				</if>
				
				<!--学员头像进入个人中心-->	 	 
				<if condition="($identity eq 'student')">
					<p class="myp" id="myp">
						<a id="enterCenter" href="__MODULE__/Student/student.html">{$name}</a>
						<span class="logout">
				 			<a href="__MODULE__/Login/logout">退出</a>
				 		</span>
				 	</p>
				</if>	  
				<else />
			</if>
        </ul>
    </div>
</div>

<!--用户信息栏-->
<div id="user_warp">
			<!--<a href="javascript:postwith('__MODULE__/Student/test',{'room_id':'{$coachesList[0]['face']}'})" onclick="aaa()">zsdfdsaf</a>-->
	
	<div class="user">
    	<a href="#"><img src="__PUBLIC__/images/{$face}" alt="用户头像"/></a>
    	<span>{$name}</span>
        <p class="school">{$studentBasicInfo[0]['school']}</p> 
        <p>账户余额:<span>￥{$studentBasicInfo[0]['account']}</span></p> 
   </div>
        
     
     
     
</div>
<!--主要内容-->
<div id="main">
	<!--内容的左边栏-->
	<div class="main_left" >
    <div class="main-left" id="main-left">
        <ul class="content_list">
            <li class="select"  ><a href="#"><img src="__PUBLIC__/images/student-center-img/class.png" alt=""/>班级</a></li>
            <li><a href="#"><img src="__PUBLIC__/images/student-center-img/ques.png" alt=""/>教练</a></li>
            
            <li><a href="#"><img src="__PUBLIC__/images/student-center-img/dynamic.png" alt=""/>通知</a></li>
         <!--    <li class="none"></li>
            <li><a href="#"><img src="student-center-img/data.png" alt=""/>基本资料</a></li>
            <li><a href="#"><img src="student-center-img/set.png" alt=""/>账号设置</a></li> -->
           <li><a href="#"><img src="__PUBLIC__/images/student-center-img/set.png" alt=""/>账号设置</a></li> 
        </ul>
     </div>
    </div>
      <!--内容右边班级的信息-->
     <div class="left-tab" id="left-tab">
	     <article style="display:block;">
	     <div class="main_right class">
	     	<div class="breadcrumb">
		      	<ul>
		      		<li><a  href="#"><img src="__PUBLIC__/images/my.png" alt="图标"/>个人中心</a><em></em><i></i></li>
					<li><a  href="#"><img src="__PUBLIC__/images/class.png" alt="图标"/>班级</a></li>
		      	</ul>
			</div>
	        <h2>班 级 ：</h2>
	        <ul class="item_list" style="display:block;">
				<volist name = "list" id = "getClassList" empty = "暂无班级">
		            <li>
		                <a href="__URL__/student2/classId/{$getClassList['id']}.html">
		                    <img src="__PUBLIC__/images/{$getClassList['classpic']}" alt="班级头像" width="218" height="149"/>
		                    <!--<img src="__PUBLIC__/images/student-center-img/item_pic/1.png" alt="班级头像"/>-->
		                    <h3>{$getClassList['classname']}</h3>
		                    
		                    <if condition="($getClassList['graduatestatus'] eq '0')"><span>未毕业</span> <a class="yiye" onclick="confirm('确定肄业？')?location.href='__URL__/pauseStudy/classId/{$getClassList['id']}.html':''" href="javascript:;">选择肄业</a></if>
		                    <if condition="($getClassList['graduatestatus'] eq '1')"><span>已毕业</span> </if>    
		                    <if condition="($getClassList['graduatestatus'] eq '2')"><span>已肄业</span> </if>
		                </a>
		            </li>
	          	</volist>
	          <!--页码-->
	            {$page}
	        </ul>
	     </div>
	     </article>

    

     <!--内容右边问答部分-->
     <article style="display:none;">
	     <div class="main_right ques">
	     	<div class="breadcrumb">
		      	<ul>
		      		<li><a  href="#"><img src="__PUBLIC__/images/my.png" alt="图标"/>个人中心</a><em></em><i></i></li>
					<li><a  href="#"><img src="__PUBLIC__/images/class.png" alt="图标"/>教练</a></li>
		      	</ul>
			</div>
	        <ul class="coach_list">
				<!--循环遍历学员的教练列表-->
				<volist name = "coachesList" id = "coachesList" empty = "您暂无教练">
		            <li>
						 				<a href="">
		                    <img src="__PUBLIC__/images/{$coachesList['face']}" alt=""/>                 
		                    <h2>{$coachesList['tname']}</h2>
		                    <p>{$coachesList['onlinetime']}</p>
		                </a>
		                <a href="__MODULE__/Index2/index2/room_id/{$coachesList['id']}.html">进入聊天室</a>
		            </li>
	            </volist>
	            <!--页码-->
	            {$page}
	        </ul>  
	     </div>
     </article>
     
     
      <!--内容右边通知栏的信息-->
        <article style="display:none;">
          <div class="main_right home">
	         <h2>通知栏</h2>
	        <div class="new_info">
	        	<ul>
				      <volist name = "messageData" id = "messageData" empty = "您暂无消息">
  	        		<li >
  	        			<div id="title{$messageData['id']}" class="system_time"><p>{$messageData['time']}</p></div>
  	        		     <a href="javascript:;">
      	        			<div class="backstate_info">
      	        				<p>{$messageData['sendername']}:<a href="__URL__/messageDetail/id/{$messageData['id']}.html">{$messageData['content']|html_entity_decode}</a></p>
      	        			</div>
  	        		     </a>
  	        		</li>
	        	</volist>
	        	</ul>
	        </div>
		    
			
  			<form id=""  method="post" action="__URL__/stuSendMsg">
		      	<div class="creater">
					<script type="text/plain" name="content" id="myEditor" style="width:800px;height:180px;"></script>
					<div class="reply">
    					<button type="submit" id="submit1" />发送</button>
    				</div>
				</div>
			 <script type="text/javascript">
			  
			    //实例化编辑器
			    var um = UM.getEditor('myEditor');
			    um.addListener('blur',function(){
			        $('#focush2').html('编辑器失去焦点了')
			    });
			    um.addListener('focus',function(){
			        $('#focush2').html('')
			    });
			    //按钮的操作
			    function insertHtml() {
			        var value = prompt('插入html代码', '');
			        um.execCommand('insertHtml', value)
			    }
			
			</script>
				
			</form>
		        <!--</div>
		        <div class="reply">
		        	<input type="button" value="回复" />
		        </div>
		       </div>-->
    	</article>
     
     <!--账号信息的设置-->
     <article style="display: none;">
   	<div class="main_right set">
   		<div class="breadcrumb">
	      	<ul>
	      		<li><a  href="#"><img src="__PUBLIC__/images/my.png" alt="图标"/>个人中心</a><em></em><i></i></li>
				<li><a  href="#"><img src="__PUBLIC__/images/class.png" alt="图标"/>账号设置</a></li>
	      	</ul>
		</div>
   			<form id="" enctype="multipart/form-data" method="post" action="__URL__/change_info">
   				<label class="tips_all tips_img">头像：</label>
   				<div class="header_photo" id="imgdiv">
   					<img id="pic" src="__PUBLIC__/images/{$face}" width="120" height="120"/>
   				</div>
   				<div class="flies">
   					<a href="javascript:void(0)" >更换头像
   					<input  class="hide" type="file" accept="__PUBLIC__/images/*" value="yes" name="face" title="更换头像" id="upload"/>
   					</a>
   				</div>
   			<!--</form>
   			<form>-->
   				<if condition="($stuName neq '')">
   					<div class="set_realName">
   					<label class="tips_all tips_realName">用户名：</label> {$stuName}
   					<!--<input type="text" name="name" placeholder="你的真实姓名！" maxlength="16" />-->
   				</div>
   				<else/>
   				<div class="set_realName">
   					<label class="tips_all tips_realName">姓名：</label>
   					<input type="text" name="name" placeholder="真实姓名,只能修改一次，重名请添加任意字符" maxlength="16" />
   				</div>
   				</if>
   				<div class="set_sex">
   					<label class="tips_all tips_sex">性别：</label>
   					<label><input type="radio" name="sex" value="0"/ checked="checked">男</label>
   					<label><input type="radio" name="sex" value="1"/>女</label>
   				</div>
   				<div class="set_password">
   					<label class="tips_all tips_password">密码：</label>
   					<a href="javascript:show()" id="change_password">修改密码&gt;</a>
   					<div class="set_modal">
   						<div class="modal_form" id="modal_form">
   							<p>修改密码</p>
   							<!--<form id="" enctype="multipart/form-data" method="post" action="__URL__/change_password">-->
   								<div class="origin_password">
   									<label class="change_all" >输入原始密码：</label>
   										<input class="same_input" type="password" name="oldpassword" value="" placeholder="输入原始密码" />
   									
   								</div>
   								<div class="new_password">
   									<label class="change_all">输入新密码：</label>
   										<input class="same_input"  type="password" name="newpassword" value="" placeholder="输入新密码" />
   									
   								</div>
   								<div class="second_password">
   									<label class="change_all">再次输入新密码：</label>
   										<input class="same_input"  type="password" name="checkpassword" value="" placeholder="再次输入新密码" />
   									
   								</div>
   								<div class="save_btn">
   									<label>
   										<input type="submit" name="savepassword" value="确定" />
   									</label>
   								</div>
   								<div class="reset_btn">
   									<label>
   										<input type="reset" name="reset" value="取消" onclick="hide()"/>
   									</label>
   								</div>
   							<!--</form>-->
   							<div class="close_btn">
   								<a href="javascript:hide()"><img src="__PUBLIC__/images/close.png"/></a>
   							</div>
   						</div>
   						
   					</div>
   				</div>
   				<div class="set_city">
   					<label class="tips_all tips_city">城市：</label>
   					
   				</div>
   				
   				<div class="set_introduce">
   					<label class="tips_all tips_introduce">个人介绍：</label>
   					<textarea placeholder="介绍一下自己吧！" name="tIntro"></textarea>
   				</div>
   				<div class="set_btn">
   					<input type="submit" value="保存" name="btnSubmit" />
   				</div>
   			</form>
   	</div>
   </article>
    </div>
  
     
</div>
<!--页面的底部-->
<div id="bottom_warp">
	<div class="bottom">
        <ul class="help">
        	<li class="head">帮助中心</li>
            <li><a href="#" target="_blank">账户管理</a></li>
            <li><a href="#" target="_blank">课程指南</a></li>
            <li><a href="#" target="_blank">班级选择</a></li>
        </ul>
        <ul class="sercive">
        	<li class="head">服务支持</li>
            <li><a href="#" target="_blank">售后政策</a></li>
            <li><a href="#" target="_blank">自助服务</a></li>
            <li><a href="#" target="_blank">相关下载</a></li>
        </ul>
        <ul class="follow_us">
        	<li class="head">关注我们</li>
            <li><a href="#" target="_blank">新浪微博</a></li>
            <li><a href="#" target="_blank">链接部落</a></li>
            <li><a href="#" target="_blank">官方微信</a></li>
        </ul>
        <ul class="cust_service">
            <li class="phone">400-128-2584</li>
            <li class="online_ser"><a href="#" target="_blank">在线客服</a></li>
        </ul>
    </div>
    <div class="copyRight">
        <p class="clear">Copyright&copy;2016广东石油化工学院云计算实验室版权所有</p>
    </div>
</div>
<div id="mask"></div>

</body>
</html>
