@charset "utf-8";
@import url("chromestyle.css");
@import url("page.css");
body {background:#FFF url(skin/bg_body.jpg)repeat-x;
	 font-family: "ו";
	 font-size:12pt;}
*      {margin:0;
    padding:0;}

img{border:0;}

.logo{
	 margin-bottom:50px;
	 border:0px solid blue;
	
}

.adminL{
	 position:relative;
	 top:-130px;
	 left:800px;	
}
.adminL a{
	text-decoration:none;
	font-weight:900;
	font-size:16px;
	color:black;
}

.main{
     width:960px;
	 margin:0px auto;
	 border:0px solid blue;
}


.top{
    width:950px;
	border:0px solid pink;
	margin:20px auto 0 auto;
}
.toplink{
     width:950px;
     border:0px solid red;
	 margin:3px auto 0 auto;
}
#nav{ 
     width:100%;
	 height:60px;
	 background:#00A2CA;
	 margin:0 auto;
} 
#nav li{
      display:inline; 
	  height:60px;
} 
#nav li a{
        display:inline-blocka;
        padding:0 50px;
		height:60px;
		line-height:60px;
        color:#FFF;
		font-family:"\5FAE\8F6F\96C5\9ED1";
		font-size:18px;
		text-decoration:none;
		
} 
		
.Schoolprofile{
      width:950px;

	  margin:2px auto;
	  border:0px solid red;
}
.Schoolprofile img{
          width:950px;
		
}

.middle{
        width:950px;
		border:0px solid blue;
		float:left;
		margin-top:10px;
		margin-left:5px;

}




.middleright{
            width:950px;			
			float:left;
			border-top-left-radius:5px 5px;
		    border-top-right-radius:5px 5px;
			border-bottom-left-radius:5px 5px;
			border-bottom-right-radius:5px 5px;
			border:1px solid gray;
			margin-top:3px;
}
#MRT{
    width:900px;
	height:60px;
	float:left;
	font-size:30px;
	font-family:"\5FAE\8F6F\96C5\9ED1";
	margin-top:25px;
	margin-left:25px;
	border-bottom:1px solid gray;
}
#MRM{
    width:900px;
	float:left;
	margin-top:35px ;
	margin-left:25px;

}

#MRM img{
        width:900px;
		
   
}
#MRB{
    width:905px;
	float:left;
	margin-top:30px;
	margin-left:25px;
	font-size:22px;
}


.bottom{
       width:950px;
	   height:55px;
	   float:left;
	   margin-top:10px;
	   margin-left:15px;
	   margin-bottom:50px;
	   
}

.bottom span{
            width:156px;
			height:52px;
			border:0px solid red;
			margin-top:10px;
			float:left;
			text-align:center;
			line-height:50px;
			
}
.bottom span img{
             width:156px;
			 height:52px;
}